html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background: cornsilk;
    font-family: sans-serif
}

.main {
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}

.content {
    text-align: justify;
    margin-bottom: 4px;
}

h1  {
    font-size: 1.8em;
    margin: 10px;
}

h2 {
    text-align: center;
    color: rebeccapurple;
    font-size: 1.5em;
    margin: 7px;
}

h3  {
    margin: 7px 0 5px;
}

.content_2 {
    border: 3px solid #000;
    padding: 5px;
    margin-top: 5px;
    background: white;
}

img {
    width: 500px;
}

a {
    color: blue;
    text-decoration: none;
}

div div div {
    color: brown;
}

.header {
    width: 100%;
    background: #DCFFF8;
    position: fixed;
    top: 0;
    z-index: 15;
    text-align: center;
    padding: 10px 0;
}

.main_menu li {
    display: inline-block;
    font-size: 20px;
    background: #D67429;
    position: relative;
    width: 300px;
}

.main_menu li a:before {
    content: "";
    background: url("/img/css_sprites.png") -105px 101px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 5%;
}

.main_menu :first-child a:before {
    background: url("/img/css_sprites.png") -105px -1px;
}
.main_menu :last-child a:before {
    background: url("/img/css_sprites.png") 0 50px;
    top: 10%;
    right: 5%;
    left: auto;
}

.main_list_header:hover a:before {
    background: url("/img/css_sprites.png") -53px -101px;
}

.main_menu li:hover {
    background: #7429D6;
}

.float_list_head a:before {
    background: url("/img/css_sprites.png") -105px -105px;
}

.main_menu li a {
    display: block;
    color: white;
    padding: 20px 20px;
}

.main_list {
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
}

.main_list_header:hover .main_list {
    display: block;
}

.soc_menu {
    font-size: 0;
    text-align: left;
}

.soc_menu  li{
    display: inline-block;
    font-size: 20px;
}

.soc_menu  li a{
    background: url("/img/css_sprites.png") -1px -1px;
    display: block;
    width: 50px;
    height: 50px;
}

.soc_menu li+li a {
    background-position: -52px -1px;
}

.soc_menu li+li+li a {
    background-position: -1px 103px;
}

.soc_menu li+li+li+li a {
    background-position: -53px 103px;
}

.float_list {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}

.float_list_head:hover .float_list {
    display: block;
}

.grid_list_head:hover .grid_list {
    display: block;
}

.grid_list {
    position: absolute;
    top: -100%;
    right: 100%;
    display: none;
}

.nav_gal {
    background-color: lightcoral;
    position: fixed;
    z-index: 10;
    left: 0;
    top: calc(50% - 48px);
    display: block;
    width: 104px;
}

.nav_gal > a {
    color: white;
}

.gallery_first {
    display: inline-block;
    position: relative;
}

.in_gallery_first {
    color: white;
    background: black;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
}

.main_container * {
    outline: 2px solid black;
}

.container {
    width: 400px;
    display: table-cell;
}

.block {
    width: 800px;
    display: table-cell;
}

.container_2 {
    width: 600px;
    display: table-cell;
}

.block_2 {
    width: 300px;
    display: table-cell;
}

.in_main_container, .in_block_3 {
    font-size: 0;
}

.in_container {
    width: 400px;
    font-size: 16px;
    display: inline-block;
}

.in_main_container * {
    outline: 2px solid black;
}

.in_block {
    width: 800px;
    font-size: 16px;
    display: inline-block;
}

.in_block_main {
    width: 400px;
    font-size: 0;
    display: inline-block;
}

.in_block_content, .in_block_main_2 {
    font-size: 16px;
}

.in_block_2 {
    width: 600px;
    display: inline-block;
    font-size: 16px;
}

.in_block_content_2 {
    width: 300px;
    display: inline-block;
    font-size: 16px;
}

.in_block_content_3 {
    width: 400px;
    font-size: 16px;
    display: inline-block;
}

.in_main_float * {
    outline: 2px solid black;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.in_float {
    width: 400px;
    float: left;
}

.second_float {
    width: 800px;
    float: left;
}

.near_second_block {
    width: 400px;
    float: left;
}

.three_float {
    width: 600px;
    float: left;
}

.in_three_float {
    width: 300px;
    float: left;
}

.flex_1 {
    display: flex;
}

.flex_1 * {
    outline: 2px solid black;
}

.in_flex_1 {
    flex: 0 1 800px;
}

.in_flex_2_2 {
    flex: 0 1 400px;
}

.in_flex_3 {
    flex: 0 1 600px;
}

.in_in_flex_3 {
    display: flex;
}
.content_flex_3 {
    flex: 0 1 300px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid_container *, .grid_container_2 *, .grid_container_3 * {
    outline: 2px solid black;
}

.grid_container_2 {
    display: grid;
    grid-template-columns: 800px 400px;
}

.grid_container_3 {
    display: grid;
    grid-template-columns: 600px 600px;
}

.in_grid_3 {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}

.in_grid_4 {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}

.areas_container {
    display: grid;
    grid-template-areas:
        "A A B B C"
        "D D D D E"
        "D D D D F"
        "H H H H F"
        "H H H H I"
        "J J J K K"
        "L M M K K"
        "N N N N O"
        "P P Q Q O"
        "R R Q Q O"
}

.areas_container * {
    outline: 2px solid black;
}

.item_1 {
    grid-area: A;
}

.item_2 {
    grid-area: B;
}

.item_3 {
    grid-area: C;
}

.item_4 {
    grid-area: D;
}

.item_5 {
    grid-area: E;
}

.item_6 {
    grid-area: F;
}

.item_7 {
    grid-area: H;
}

.item_8 {
    grid-area: I;
}

.item_9 {
    grid-area: J;
}

.item_10 {
    grid-area: K;
}

.item_11 {
    grid-area: L;
}

.item_12 {
    grid-area: M;
}

.item_13 {
    grid-area: N;
}

.item_14 {
    grid-area: O;
}

.item_15 {
    grid-area: P;
}

.item_16 {
    grid-area: Q;
}

.item_17 {
    grid-area: R;
}